@model IEnumerable<WebApplicationSAmpleExam.Models.dbContext.Attendance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.student.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subject.SubjectID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Present)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.student.StudentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subject.SubjectID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttendanceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Present)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AttendanceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AttendanceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AttendanceID })
        </td>
    </tr>
}

</table>
